body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: black;
    height: 100%;
    width: 300px;
    border-radius: 1rem; /*16px*/

}
.nav{
    background-color: #222e35;
    border-radius: 1rem;
}
.nav a{
    text-decoration: none;
    color: white;
}

.main_content{
    background-color: #121212;
    height: 100%;
    flex:1;
    overflow: auto;
    border-radius: 1rem;
}

.music_player{
    background-color: black;
    height: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}